.grid {
  width: 1000px;
  margin: 0 auto;
  border: solid 1px black;
  transform: scale(0.7) translateY(-20%);
}

.row {
  display: flex;
}

.live, .dead {
  width: 20px;
  height: 20px;
  border: solid 1px black;
}

.live {
  background: cornflowerblue;
}

.dead {
  background: white;
}
